---
import Container  from "website/components/container.astro";
import Layout from "../../layouts/Layout.astro";
import fallBackImage from '../../assets/hero.png'

import {getUser, supabase} from '../../utils/auth';
const user = await getUser(Astro.request) || undefined;
import { dateRangeText } from '../../utils/all'
import Sectionhead from "website/components/sectionhead.astro";
import { Image } from "@astrojs/image/components";

const { data: competitions, error } = await supabase
  .from('competitions')
  .select('*')
  .eq('public', true)
  .order('dates', { ascending: false })
---

<Layout title="Competition" user={user}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Competition results</Fragment>
      <Fragment slot="desc"
        >Please note that these results are unofficial.</Fragment
      >
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          competitions ? competitions.map((competition) => (
            <li>
              <a href={`/competition/${competition.id}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <div>
                    <Image
                      src={competition.splash_image ? competition.splash_image: fallBackImage}
                      alt="Thumbnail"
                      width={1000}
                      height={1000}
                      format="avif"
                      class="w-full rounded-md"
                    />
                  </div>
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {competition.host}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {competition.name}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {competition.name}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={'0'}
                        >
                        {dateRangeText(competition.dates)}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          )): <p>no competitions found</p>
        }
      </ul>
    </main>
  </Container>
</Layout>
